<header class="header">
    <div class="containner">
        <nav class="menu">
            <ul class="menu__list flex --just-space --align-center">
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        <img src="img/home.svg" alt="icon" class="heade__icon">
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        каталог
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        Преимущества
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        Примеры работ
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        монтаж
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        отзывы
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        Ответы на вопросы
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">
                        контакты
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__contact flex --align-center --just-space">
            <div class="header__contact-info info-contact">
                <p class="info__contact-text">
                    <span class="info__contact-text__bold">
                        Кровельные и фасадные материалы
                    </span>  в Тюмени и области. 
                </p>
                <p class="info__contact-text">
                    Профессиональный монтаж
                    с 2010 года.
                </p>
            </div>
            <div class="header__contact-price price">
                <span class="price__mod">pdf</span> 
                <a href="#" class="price__link">
                    Скачать прайс-каталог
                </a>
            </div>
            <div class="header__logo">
                <img src="img/logo.svg" alt="Академия Кровли" class="header__logo-image">
            </div>
            <div class="header__contact-messanger messanger">
                <p class="messanger__text messanger__text-active ">
                    Отвечаем <span class="messager__text-bold">
                        онлайн
                    </span> 
                </p>
                <ul class="messanger__list flex">
                    <li class="messanger__list-item">
                        <a href="#" class="messanger__list-link mgo-widget-call_pulse --viber">
                            <img src="img/viber.svg" alt="вайбер" class="mesaage__list-viber">
                        </a>
                    </li>
                    <li class="messanger__list-item">
                        <a href="#" class="messanger__list-link mgo-widget-call_pulse --telegram">
                            <img src="img/telegram.svg" alt="телеграмм" class="mesaage__list-telegram">
                        </a>
                    </li>
                    <li class="messanger__list-item ">
                        <a href="#" class="messanger__list-link mgo-widget-call_pulse --watsapp">
                            <img src="img/watsapp.svg" alt="watsapp" class="mesaage__list-watsapp">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__contact-telefon telefon">
                <p class="telefon__time">
                    <span class="telefon__bold">Пн-Пт</span>
                    <time> 9:00</time> - <time>18:00</time>, 
                    <span class="telefon__bold">Cб</span>
                    <time>10:00</time> - <time>18:00</time>
                </p>
                <a href="tel:+88002225460" class="telefon__number">8 (800) 222-54-60</a>
                <a href="#" class="telefon__callback">
                    Позвоните мне
                </a>
            </div>
        </div>
        <div class="header__wrraper flex">
            <div class="header__servicess servicess">
                <ul class="servicess__list">
                    <li class="servicess__list-item">
                        <p class="services__list-item__bold">
                            Гарантия от 50 лет 
                        </p>
                        <p class="services__list-item__text">
                            на материалы и 5
                            лет на монтаж
                        </p>
                    </li>
                    <li class="servicess__list-item">
                        <p class="services__list-item__bold">
                            Замер, монтажный
                            проект 
                        </p>
                        <p class="services__list-item__text">
                            и
                            еще 4 услуги
                            бесплатно
                        </p>
                    </li>
                    <li class="servicess__list-item">
                        <p class="services__list-item__bold">
                            Сметы
                            точны 
                        </p>
                        <p class="services__list-item__text">
                           до копейки 
                        </p>
                    </li>
                    <li class="servicess__list-item">
                        <p class="services__list-item__bold">
                            Поэтапная оплата,
                        </p>
                        <p class="services__list-item__text">
                            кредит или рассрочка
                        </p>
                    </li>
                    <li class="servicess__list-item">
                        <p class="services__list-item__bold">
                            Наши крыши в
                            каждом поселке
                        </p>
                        <p class="services__list-item__text">
                            и дачном сообществе
                            региона
                        </p>
                    </li>
                </ul>
            </div>
            <div class="header__content">
                <h1 class="header__title">
                    Продажа <span class="header__title-bold">
                        кровельных
                        материалов
                    </span> в Тюмени
                    и Тюменской области
                </h1>
                <p class="header__content-text">
                    и монтаж под ключ
                </p>
            </div>
        </div>
    </div>
</header>

