/*font-size*/
.--monserrat-r12 {
    font-family: 'Montserrat',sans-serif; 
    font-weight: 400;
    font-size: .625vw;
}

.--monserrat-r12 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .625vw;
}


/*color*/

$color-orang: #F38120;
$color-green: #12C868;